<div class="container mt-4" >
    <div class="vote">
        <h1>Vote Here</h1>
        <form>
        <div class="form-group">
            <label>Voter Name</label>
            <!-- <input type="text" [(ngModel)]="voterName" placeholder="Enter Voter Name"> -->
            <!-- TODO - find why  "Can't bind to 'ngModel' since it isn't a known property of 'input'."" even with  FormsModule imported-->
        </div>
        <div class="form-group">
            <label>Candidate Name</label>
            <!-- <input type="text" [(ngModel)]="candidateName" placeholder="Enter Candidate Name"> -->
            <!-- TODO - find why  "Can't bind to 'ngModel' since it isn't a known property of 'input'."" even with  FormsModule imported-->
        </div>
            <button type="button" class="btn btn-success" (click)="addVoter()">Add Voter</button>
            <button type="button" class="btn btn-success" (click)="addCandidate()">Add Candidate</button>
            <button type="submit" class="btn btn-danger" (click)="vote()">Vote!</button>
        </form>
    </div>
    <div>
        <div class="container mt-4">
            <h1>Voters Table</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Voted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let voter of voters">
                        <th scope="row">{{voter.name}}</th>
                        <td>{{voter.voted}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="container mt-4">
            <h1>Candidates Table</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let candidate of candidates">
                        <th scope="row">{{candidate.name}}</th>
                        <td>{{candidate.votes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>